# General MacOS
.DS_Store

## possible root volume files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## local vs code history
.history

## npm
node_modules

#local dev environment and production folders
tmp
dist
