/* common */
.ribbon {
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 2px solid darken($misc-color-black, 20%);
}
.ribbon span {
  position: absolute;
  display: block;
  width: 800px;
  padding: 25px 0;
  background-color: $misc-color-black;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  color: #fff;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -4px;
  left: -4px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -170px;
  top: 170px;
  transform: rotate(-45deg);
}


/* bottom right*/
.ribbon-bottom-right {
  bottom: -4px;
  right: -4px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -170px;
  bottom: 170px;
  transform: rotate(-225deg);
}