@import 'partials/normalize';
@import 'modules/utilities';


$mobile-break: 600px;
$tablet-break: 900px;
$hd-break: 1200px;

$primary-color: #36373A;
$secondary-color: #F3F3F3;
$misc-color-brown: #4B3629;
$misc-color-black: #343333;

$body-text-color: $primary-color;
$hero-text-color: $secondary-color;
$hero-background-color: $misc-color-brown;

$heading-font-family: 'Alice', serif;
$body-font-family: 'Nunito', sans-serif;

$bold-weight: 600;
$base-weight: 300;

$base-font-size: 26px;
$base-line-height: 1.3;

$heading-width: 400px;
$description-width: 600px;

$content-width: 90vw;
$content-max-width: 1400px;
@mixin content-restraints {
  width: $content-width;
  max-width: $content-max-width;
}
$section-gutter: 10vw;
$max-section-text-width: 700px;
$max-section-header-width: 11em;

@import 'partials/ribbon';  // needs variables declared


h1, h2, h3 {
  font-family: $heading-font-family;
  font-weight: $base-weight;
}

h1 { font-size: 40px; }
h2 { margin: 0 0 0.5em 0; }
p { margin-top: 0; }
strong { font-weight: 800; }

body {
  font-family: $body-font-family;
  color: $body-text-color;
  font-size: $base-font-size;
  font-weight: $base-weight;
  line-height: $base-line-height;
}

.main-section {
  margin-top: $section-gutter * 2;
  @media only screen and (min-width: $tablet-break) {
    margin-top: $section-gutter;
  }
}

header[role="banner"]{
  position: relative;
  @media only screen and (min-width: $mobile-break) {
    min-height: 1100px;
  }
}

.header-content-container {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#header-logo {
  width: 70%;
  max-width: 250px;
  margin-top: 100px;
  height: auto;
  path { fill: $primary-color; }
  @media only screen and (min-width: $mobile-break) {
    display: none;
  }
}

#header-logo-bold {
  display: none;
  width: 70%;
  max-width: 300px;
  height: auto;
  path { fill: $secondary-color; }
  @media only screen and (min-width: $mobile-break) {
    display: block;
  }

}

.hero-text-container {
  padding: 1em;
  margin: 2em 0;
  max-width: $max-section-text-width;
  h1 {
    max-width: $max-section-header-width;
    margin-left: auto;
    margin-right: auto;
  }
  @media only screen and (min-width: $mobile-break) {
    color: $secondary-color;
    margin-top: 30vh;
    background-color: rgba(black, 0.6);
  }
}

#main-navigation {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  z-index: 2;
  @media only screen and (min-width: $tablet-break) {
    position: relative;
  }
}

#burger-toggle {
  cursor: pointer;
  padding: 0 0.2em;
  position: relative;
  font-size: 40px;
  @media only screen and (min-width: $mobile-break) {
    color: $secondary-color;
  }
  @media only screen and (min-width: $tablet-break) {
    display: none;
  }
}

#menu-toggle-checkbox { display: none; }
#menu-toggle-checkbox:checked + #burger-toggle { display: none; }

#main-menu {
  display: none;
  position: fixed;
  overflow: scroll;
  font-size: 0.8em;
  a {
    text-decoration: none;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: $bold-weight;
    color: $secondary-color;
    text-transform: uppercase;
    position: relative;

    &:before, &:after {
      height: 1px;
      width: 50%;
      background-color: $secondary-color;
      content: '';
      position: absolute;
      left: 25%;
      right: 25%;
      transition: opacity 0.3s, transform 0.3s;
      opacity: 0;
      @media only screen and (min-width: $tablet-break) {
        width: inherit;
        left: 0%;
        right: 0%;
      }
    }
    &:before { top: 0; }
    &:after { bottom: 0; }
    &:hover:before {
      opacity: 1;
      transform: translateY(10px);
    }
    &:hover:after {
      opacity: 1;
      transform: translateY(-10px);
    }

    &:visited { color: $secondary-color; }
  }

  @media only screen and (min-width: $tablet-break) {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 3.5em;
    a { padding: 1em; }
  }
}

#menu-toggle-checkbox:checked ~ #main-menu {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  background-color: rgba($primary-color, 0.97);
}

#cross-toggle {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  @media only screen and (min-width: $tablet-break) {
    display: none;
  }
}

.cross-character {
  display: inline-block;
  font-size: 1.5em;
  margin-top: -0.2em;
  color: $secondary-color;
  padding: 0 0.1em;
}

#hero-image {
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  img {
    width: 200%;
    margin-left: -50%;
  }
  @media only screen and (min-width: $mobile-break) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    min-height: 800px;
    background-image: url("../images/header-hero-store.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $hero-background-color;
    img { display: none; }
  }
  @media only screen and (min-width: $tablet-break) {
    min-height: 1000px;
  }
}

#showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $section-gutter * 2;
  @media only screen and (min-width: $tablet-break) {
    margin-top: $section-gutter;
  }
}

.showcase-text-container {
  @include content-restraints;
  p { max-width: $description-width; }
  @media only screen and (min-width: $hd-break) {
    display: flex;
    justify-content: space-between;
  }
}

.showcase-container {
  @include content-restraints;
  display: flex;
  flex-direction: column;

  // progressive enhancement with css-grid
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    'primary   primary   primary   primary'
    'primary   primary   primary   primary'
    'secondary secondary secondary secondary'
    'secondary secondary secondary secondary'
    'secondary secondary secondary secondary'
    'misc-one  misc-one  misc-two  misc-two'
    'misc-one  misc-one  misc-two  misc-two'
    'tertiary  tertiary  tertiary  tertiary'
    'tertiary  tertiary  tertiary  tertiary'
    'tertiary  tertiary  tertiary  tertiary';
  & > *:nth-child(1) { grid-area: primary}
  & > *:nth-child(2) { grid-area: secondary}
  & > *:nth-child(3) { grid-area: misc-one}
  & > *:nth-child(4) { grid-area: misc-two}
  & > *:nth-child(5) { grid-area: tertiary}
  & > * { overflow: hidden; }

  // set up square cells (1:1 aspect ratio)
  $showcase-grid-columns: 4;
  grid-template-columns: repeat($showcase-grid-columns, 1fr);
  grid-auto-rows: calc(#{$content-width} / #{$showcase-grid-columns});

  @media only screen and (min-width: $hd-break) {
    $showcase-grid-columns: 12;
    $showcase-grid-rows: 7;
    max-height: $content-max-width / $showcase-grid-columns * $showcase-grid-rows;
    grid-template-areas:
    'primary  primary  primary  primary  primary  primary  primary  primary   secondary secondary secondary secondary'
    'primary  primary  primary  primary  primary  primary  primary  primary   secondary secondary secondary secondary'
    'primary  primary  primary  primary  primary  primary  primary  primary   secondary secondary secondary secondary'
    'primary  primary  primary  primary  primary  primary  primary  primary   tertiary  tertiary  tertiary  tertiary'
    'misc-one misc-one misc-one misc-one misc-two misc-two misc-two misc-two  tertiary  tertiary  tertiary  tertiary'
    'misc-one misc-one misc-one misc-one misc-two misc-two misc-two misc-two  tertiary  tertiary  tertiary  tertiary'
    'misc-one misc-one misc-one misc-one misc-two misc-two misc-two misc-two  tertiary  tertiary  tertiary  tertiary';
    grid-template-columns: repeat($showcase-grid-columns, 1fr);
    grid-auto-rows: minmax(calc(#{$content-width} / #{$showcase-grid-columns}), 75px);

    // set exact grid row height (to maintain 1:1 cell aspect ratio) when content reaches max width
    // media query is nested since max-content-width shouldn't ever be set to exceed previous breakpoints
    @media only screen and (min-width: $content-max-width / (strip-unit($content-width)/100)) {
      grid-template-rows: repeat(7, calc(#{$content-max-width} / 12));
    }
  }

  img { object-fit: cover; }
}

#brands {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $section-gutter * 2;
  z-index: 1;
  @media only screen and (min-width: $tablet-break) {
  margin-top: $section-gutter;
  background-image: url("../images/background-wood.jpg");
    background-size: cover;
    background-position: bottom left;
    box-shadow: 0 0 1px 5px black;
  }
}

#brands-content-container {
  @include content-restraints;

  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  z-index: 3;

  .ribbon { display: none;}

  @media only screen and (min-width: $tablet-break) {
    background-color: #fff;
    box-shadow: 0 0 10px 2px;
    border-radius: 3px;
    margin-top: $section-gutter;
    margin-bottom: $section-gutter;
    padding-top: $section-gutter;
    padding-bottom: $section-gutter;

    .ribbon { display: block; }
    .ribbon-top-left {
      transform: scale(0.7);
      transform-origin: top left;
    }
    .ribbon-bottom-right {
      transform: scale(0.7);
      transform-origin: bottom right;
    }
  }

  @media only screen and (min-width: $hd-break) {
    margin-top: $section-gutter / 2;
    margin-bottom: $section-gutter / 2;
    padding-top: $section-gutter;
    padding-bottom: $section-gutter;

    .ribbon-top-left {
      transform: none;
    }
    .ribbon-bottom-right {
      transform: none;
    }
  }
}

.ribbon-logo {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  @media only screen and (min-width: $tablet-break) {
    display: block;
    right: 1%;
    bottom: 1%;
  }
  @media only screen and (min-width: $hd-break) {
    right: 3.5%;
    bottom: 3.5%;
    transform: scale(1.2);
  }
}

.brands-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: $max-section-text-width;
  align-items: center;
  h2 { max-width: $max-section-header-width; }
}

.brands-logo-container {
  max-width: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
  @media only screen and (min-width: $tablet-break) {
    width: $max-section-text-width;
    margin-top: $section-gutter / 4;
  }
  @media only screen and (min-width: $hd-break) {
    width: inherit;
  }
}

.brand-logo {
  width: 37.5%;
  &:nth-child(2n + 1) { padding: 7.5% 7.5% 7.5% 0; }
  &:nth-child(2n + 2) { padding: 7.5% 0 7.5% 7.5%; }
  @media screen and (min-width: $mobile-break) {
    width: calc(80%/3);
    &:nth-child(3n + 1) { padding: calc(20% / 4) calc(20% / 4) calc(20% / 4) 0; }
    &:nth-child(3n + 2) { padding: calc(20% / 4); }
    &:nth-child(3n + 3) { padding: calc(20% / 4) 0 calc(20% / 4) calc(20% / 4); }
  }
  @media screen and (min-width: $tablet-break) {
    width: calc(70%/3);
    &:nth-child(3n + 1) { padding: calc(30% / 4) calc(30% / 4) calc(30% / 4) 0; }
    &:nth-child(3n + 2) { padding: calc(30% / 4); }
    &:nth-child(3n + 3) { padding: calc(30% / 4) 0 calc(30% / 4) calc(30% / 4); }
  }
  @media screen and (min-width: $hd-break) {
    &:nth-child(3n + 1) { padding: calc(10% / 4) calc(20% / 4) calc(10% / 4) 0; }
    &:nth-child(3n + 2) { padding: calc(10% / 4) calc(20% / 4)}
    &:nth-child(3n + 3) { padding: calc(10% / 4) 0 calc(10% / 4) calc(20% / 4); }
  }
}

#location {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#location-content-container {
  @include content-restraints;
  @media screen and (min-width: $tablet-break) {
    position: relative;
    left: 5vw;
  }
  @media screen and (min-width: $hd-break) {
    left: 10vw;
  }
}

.location-text-container {
  max-width: $max-section-text-width;
  h2 { max-width: $max-section-header-width; }
}

.location-logos-container {
  max-width: $max-section-text-width;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  h2 { max-width: $max-section-header-width; }
  @media screen and (min-width: $mobile-break) {
    align-items: flex-end;
  }
}

.partner-logo {
  margin: 1.5em 2em 1.5em 0;
  &:nth-child(1) { margin-left: 0; }
  &:nth-child(2) { margin-top: 0; }
  &:nth-child(3) { margin-top: 0; }
  @media screen and (min-width: $mobile-break) {
    margin: 2em;
  }
}

#map-container {
  width: 100%;
  height: 400vw;
  margin-top: -10vw;
  overflow: hidden;
  background-image: url(../images/map-gavle.svg);
  background-repeat: no-repeat;
  background-position: 55% 0%;
  background-size: 450%;
  @media screen and (min-width: $mobile-break) {
    height: 300vw;
    background-position: 62% 0%;
    background-size: 300%;
  }
  @media screen and (min-width: $tablet-break) {
    height: 225vw;
    background-position: 60% 0%;
    background-size: 250%;
  }
  @media screen and (min-width: $hd-break) {
    height: 2200px;
    background-position: 55% 0%;
    background-size: auto;
  }
}

#colleagues {
  position: relative;
  display: flex;
  justify-content: center;
}

#colleagues-polaroid {
  max-width: 90%;
  box-shadow: 0 2px 6px;
  transform: rotate(-2deg);
  position: absolute;
  top: auto;
  bottom: -2em;
  @media screen and (min-width: $tablet-break) {
    transform: rotate(-4deg);
    right: auto;
    left: 10%;
  }
}

footer[role="contentinfo"] {
  background-image: url("../images/footer-male-bust.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: $section-gutter * 2;
  padding-bottom: $section-gutter / 2;
  @media screen and (min-width: $mobile-break) {
    padding-top: $section-gutter;

  }
}

#footer-content-container {
  @include content-restraints;
  color: $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer-logo-bold {
  width: 70%;
  max-width: 350px;
  height: auto;
  margin-top: $section-gutter;
  margin-bottom: $section-gutter;
  path { fill: $secondary-color; }
  @media screen and (min-width: $tablet-break) {
    margin-top: $section-gutter / 2;
    margin-bottom: $section-gutter / 2;
  }
}

.footer-heading-container {
  text-align: center;
}

#footer-info-container {
  font-size: 0.8em;
  width: 100%;
  @media screen and (min-width: $mobile-break) {
    font-size: 1em;
  }

  hr { margin: 1em 0; }
}

#social-media-container {
  margin-bottom: $section-gutter;
}
#social-media-container img {
  margin: 0.5em;
}

#company-info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: center;
  @media screen and (min-width: $mobile-break) {
    flex-direction: row;
  }

  & > *:last-child > p:last-child { margin: 0; }
  @media screen and (min-width: $mobile-break) {
    & > * > p:last-child { margin: 0; }

  }
}

#address-info,
#opening-hours {
  @media screen and (min-width: $mobile-break) {
    width: 50%;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
}

#address-info {
  @media screen and (min-width: $mobile-break) {
    align-items: flex-start;
    text-align: left;
  }
}
#opening-hours {
  @media screen and (min-width: $mobile-break) {
    align-items: flex-end;
    text-align: right;
  }
}

#copy-info {
  text-align: center;
  margin-top: 1em;
  font-size: 0.8em;
  @media screen and (min-width: $mobile-break) {
    font-size: 1em;
  }
  p { margin: 0; }
  a { color: $secondary-color; }
}