@import 'partials/normalize';


$mobile-break: 600px;
$tablet-break: 900px;
$hd-break: 1200px;

$primary-color: #36373A;
$secondary-color: #F3F3F3;
$misc-color: #4B3629;

$body-text-color: $primary-color;
$hero-text-color: $secondary-color;
$hero-background-color: $misc-color;

$heading-font-family: 'Alice', serif;
$body-font-family: 'Lato', sans-serif;

$bold-weight: 400;
$base-weight: 300;

$base-font-size: 26px;
$base-line-height: 1.3;

$heading-width: 400px;
$description-width: 600px;

$section-gutter: 10vw;

h1, h2, h3 {
  font-family: $heading-font-family;
  font-weight: $base-weight;
}
body { font-family: $body-font-family; }

h1 { font-size: 40px; }


body {
  color: $body-text-color;
  font-size: $base-font-size;
  font-weight: $base-weight;
  line-height: $base-line-height;
}

header[role="banner"]{

  @media only screen and (min-width: $mobile-break) {
    min-height: 100vh;
  }

}

.header-content-wrapper {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#company-logo {
  width: 70%;
  max-width: 250px;
  margin-top: 100px;
  height: auto;
  path { fill: $primary-color; }

  @media only screen and (min-width: $mobile-break) {
    display: none;
  }

}

#company-logo-bold {
  display: none;
  width: 70%;
  max-width: 300px;
  height: auto;
  path { fill: $secondary-color; }

  @media only screen and (min-width: $mobile-break) {
    display: block;
  }

}

.hero-text-wrapper {
  padding: 0 1em;
  margin: 2em 0;

  h1 {
    max-width: 11em;
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (min-width: $mobile-break) {
    color: $secondary-color;
    margin-top: 30vh;
    background-color: rgba(black, 0.6);
    max-width: 700px;
  }
}

#main-navigation {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  z-index: 2;
  @media only screen and (min-width: $tablet-break) {
    position: relative;
  }
}

#burger-toggle {
  cursor: pointer;
  padding: 0 0.2em;
  position: relative;
  font-size: 40px;
  @media only screen and (min-width: $mobile-break) {
    color: $secondary-color;
  }
  @media only screen and (min-width: $tablet-break) {
    display: none;
  }
}

#menu-toggle-checkbox { display: none; }

#menu-toggle-checkbox:checked + #burger-toggle { display: none; }

#main-menu {
  display: none;
  position: fixed;
  overflow: scroll;

  a {
    text-decoration: none;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: $bold-weight;
    &:hover {
      background-color: rgba(white, 0.1);
    }
    &:visited {
      color: $secondary-color;
    }
  }

  @media only screen and (min-width: $tablet-break) {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 2em;

    a { padding: 1em; }
  }
}

#menu-toggle-checkbox:checked ~ #main-menu {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  background-color: rgba($primary-color, 0.97);
}

#cross-toggle {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  @media only screen and (min-width: $tablet-break) {
    display: none;
  }
}

.cross-character {
  display: inline-block;
  font-size: 1.5em;
  margin-top: -0.2em;
  color: $secondary-color;
  padding: 0 0.1em;
}

#hero-image {
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  img {
    width: 200%;
    margin-left: -50%;
  }

  @media only screen and (min-width: $mobile-break) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    min-height: 800px;
    background-image: url("../images/header-hero-store.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $hero-background-color;
    img { display: none; }
  }

  @media only screen and (min-width: $tablet-break) {
    min-height: 1000px;
  }

}

#showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $section-gutter
}

.showcase-text-wrapper {
  width: 90vw;
  p { max-width: $description-width; }
  @media only screen and (min-width: $hd-break) {
    display: flex;
    justify-content: space-between;
  }
}

.showcase-wrapper {
  width: 90vw;
  display: flex;
  flex-direction: column;

  // progressive enhancement with css-grid
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    'primary   primary   primary   primary'
    'primary   primary   primary   primary'
    'secondary secondary secondary secondary'
    'secondary secondary secondary secondary'
    'secondary secondary secondary secondary'
    'misc-one  misc-one  misc-two  misc-two'
    'misc-one  misc-one  misc-two  misc-two'
    'tertiary  tertiary  tertiary  tertiary'
    'tertiary  tertiary  tertiary  tertiary'
    'tertiary  tertiary  tertiary  tertiary';
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: calc(90vw / 4);
  & > *:nth-child(1) { grid-area: primary}
  & > *:nth-child(2) { grid-area: secondary}
  & > *:nth-child(3) { grid-area: misc-one}
  & > *:nth-child(4) { grid-area: misc-two}
  & > *:nth-child(5) { grid-area: tertiary}
  & > * { overflow: hidden; }

  @media only screen and (min-width: $hd-break) {

    grid-template-areas:
    'primary  primary  primary  primary  primary  primary  primary  primary   secondary secondary secondary secondary'
    'primary  primary  primary  primary  primary  primary  primary  primary   secondary secondary secondary secondary'
    'primary  primary  primary  primary  primary  primary  primary  primary   secondary secondary secondary secondary'
    'primary  primary  primary  primary  primary  primary  primary  primary   tertiary  tertiary  tertiary  tertiary'
    'misc-one misc-one misc-one misc-one misc-two misc-two misc-two misc-two  tertiary  tertiary  tertiary  tertiary'
    'misc-one misc-one misc-one misc-one misc-two misc-two misc-two misc-two  tertiary  tertiary  tertiary  tertiary'
    'misc-one misc-one misc-one misc-one misc-two misc-two misc-two misc-two  tertiary  tertiary  tertiary  tertiary';
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: calc(90vw / 12);
    img:nth-child(1) { grid-area: primary}
    img:nth-child(2) { grid-area: secondary}
    img:nth-child(3) { grid-area: misc-one}
    img:nth-child(4) { grid-area: misc-two}
    img:nth-child(5) { grid-area: tertiary}
  }


  img {
    object-fit: cover;
  }
}